# Data Science Tools and Ecosystem

## Author
Kooheon

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numbpy
3. ggplot
4. dplyr

| Data Science Tools |
----------------------
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.
- sum_result = 10 + 5
- difference = 10 - 5
- product = 10 * 5

In [4]:
#This a simple arithmetic expression to mutiply then add integers

result = (3*4)+5

print ("(3*4)+5 =",result)

(3*4)+5 = 17

In [5]:
#This will convert 200 minutes to hours by dividing by 60

x = 200/60

print ("200 minutes is" ,x , "hours")

200 minutes is 3.3333333333333335 hours